@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 280px;
    height: 470px;
    background-color: hsl(216, 50%, 16%);
    margin: 0 auto;
    margin-top: 95px;
    border-radius: 12px;
}

.overlay {
    width: 240px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background: rgba(0, 0, 255, .7);
}

